# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Packaging / build artifacts
build/
dist/
*.spec
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# IDE / editor
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
desktop.ini

package-lock.json
package.json

.release-it.json

node_modules
src\cache\*

CHANGELOG.md
"src/cache/favorites_city.csv" 
