#tempLabel{
    font-size: 30px;
    font-weight: bold;
}

#tempsLabel {
    font-size: 15px;
}

#code_country {
    font-size: 15px;
    font-weight: bold;
}

#nomville {
    font-size: 15px;
    text-transform: uppercase;
}

#widgetVille {
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 228px;
}

