#tempLabel{
    font-size: 30px;
    font-weight: bold;
}

#tempsLabel {
    font-size: 15px;
}

#code_country {
    font-size: 15px;
    font-weight: bold;
}

#nomville {
    font-size: 15px;
}

#widgetVille {
    max-width: 228px;
    min-height: 144px;
}

/* background blanc */
#widgetVille, #meteo_actuelle, #meteo_journee, #meteo_semaine {
    background-color: #FFFFFF;
    border-radius: 10px;
}

